<form action="" method="post" enctype="multipart/form-data" class="span12">
	<input class="input-block-level input-big" name="app_name" placeholder="Application name" />
	<div class="row-fluid">
		<div class="span6">
			<h3>Front</h3>

			<h4>Actions</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<td>Name</td>
						<td>Alias</td>
						<td>Default</td>
						<td>Options</td>
						<td>Permissions</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>test</td>
						<td>t</td>
						<td>Yes</td>
						<td>Contr/View</td>
						<td>p1, p2</td>
					</tr>
					<tr>
						<td>mira</td>
						<td>m</td>
						<td>No</td>
						<td>View</td>
						<td>p2, p3</td>
					</tr>
				</tbody>
			</table>

			<p>Is model needed?</p>

			<h4>Database</h4>
			<h4>Translations</h4>
		</div>
		<div class="span6">
			<h3>Admin</h3>
			<h4>Actions</h4>
			<h4>Database</h4>
			<h4>Translations</h4>
		</div>
	</div>
</form>